/*--
	common css
--*/
body {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased; 
  text-align: justify;
  background-color: #FFFBFC;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #FFFBFC;
}
h2 {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  color: #FFFBFC;
}
p {
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  color: #191919;
}

a, a:active, a:focus, a:active {
  text-decoration: none !important;
  color: #88aa00;
}
a.special:hover {
  color: #749100;
}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
a.btn-blog {
  background-color: #88aa00; 
  color: #FFFBFC;
  width: 31%;
  font-size: 15px;  
  font-family: 'Nunito', sans-serif;
}}
@media only screen and (min-width: 400px) {
a.btn-blog {
  background-color: #88aa00; 
  color: #FFFBFC;
  width: 22%;
  font-size: 15px;  
  font-family: 'Nunito', sans-serif;
}}
@media only screen and (min-width: 992px) {
a.btn-blog {
  background-color: #88aa00; 
  color: #FFFBFC;
  width: 14%;
  font-size: 16px;  
  font-family: 'Nunito', sans-serif;
}}
@media only screen and (min-width: 1200px) {
a.btn-blog {
  background-color: #88aa00; 
  color: #FFFBFC;
  width: 14%;
  font-size: 16px;  
  font-family: 'Nunito', sans-serif;
}}
/*---------------------------------------------*/
a.btn-blog:hover {
  color: #191919;
}
li.special {
  list-style-type: none;
  margin-left: -37px;
  padding-top: 10px;
}
hr.hr-footer {
  height: 1px;
  border: 0;
  border-top: 1px solid #191919;
  margin: 1em 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width:60%;
}
hr.hr-blog-posts {
  height: 1px;
  border: 0;
  border-top: 1px solid #E5E0E2;
  margin: 1em 0;
  width:100%;
  margin-top: 20px;
}
hr.hr-post {
  height: 1px;
  border: 0;
  border-top: 1px solid #E5E0E2;
  margin: 1em 0;
  width:100%;
  margin-top: -10px; 
}





/*---------------------------------------------
          header of default layout start
-----------------------------------------------*/
@media only screen and (max-width: 768px) {
header {
  background-color: #FFFBFC;
  padding-top: 51px;
}
header .navbar {
  padding-left: 20px;
  padding-right: 40px; 
}
header .navbar-brand {
  margin-top: -12px;
  margin-bottom:11px;
}
header .navbar-default {
  border: 0px;
  padding-left: 29px;
  padding-top: 2px;
}
header .navbar-default .navbar-nav {
  padding-top: 8px;
  padding-bottom: 8px;
}
header .navbar-default .navbar-nav li a {
  color: #191919;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
}
header .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFBFC;
  background-color: #88aa00;
}
header .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #88aa00;
}
header .navbar-fixed-top.scrolled {
  background-color: #f2f2f2;
  transition: background-color 1500ms linear;
}
header .navbar-fixed-top.scrolled-shadow {
-webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}}
/*---------------------------------------------*/
@media only screen and (min-width: 768px) {
header {
  background-color: #FFFBFC;
  padding-top: 49px;
}
header .navbar {
  padding-left: 20px;
  padding-right: 40px; 
}
header .navbar-brand {
  margin-top: -7px; 
}
header .navbar-default {
  border: 0px;
  padding-left: 29px;
}
header .navbar-default .navbar-nav {
  padding-top: 8px;
  padding-bottom: 8px;
}
header .navbar-default .navbar-nav li a {
  color: #191919;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
}
header .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFBFC;
  background-color: #88aa00;
}
header .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #88aa00;
}
header .navbar-fixed-top.scrolled {
  background-color: #f2f2f2;
  transition: background-color 1500ms linear;
}
header .navbar-fixed-top.scrolled-shadow {
-webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}}
/*---------------------------------------------*/
@media only screen and (min-width: 1200px) {
header {
  background-color: #FFFBFC;
  padding-top: 49px;
}
header .navbar {
  padding-left: 20px;
  padding-right: 40px; 
}
header .navbar-brand {
  margin-top: -11px; 
}
header .navbar-default {
  border: 0px;
  padding-left: 29px;
}
header .navbar-default .navbar-nav {
  padding-top: 8px;
  padding-bottom: 8px;
}
header .navbar-default .navbar-nav li a {
  color: #191919;
  padding: 12px 25px;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
}
header .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFBFC;
  background-color: #88aa00;
}
header .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #88aa00;
}
header .navbar-fixed-top.scrolled {
  background-color: #f2f2f2;
  transition: background-color 1500ms linear;
}
header .navbar-fixed-top.scrolled-shadow {
-webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}}





/*---------------------------------------------
          header of post layout start
-----------------------------------------------*/
@media only screen and (max-width: 768px) {
header2 {
  background-color: #FFFBFC;
  padding-top: 51px;
}
header2 .navbar {
  padding-left: 20px;
  padding-right: 40px; 
}
header2 .navbar-brand {
  margin-top: -12px;
  margin-bottom:11px;
}
header2 .navbar-default {
  border: 0px;
  padding-left: 29px;
  padding-top: 2px;
}
header2 .navbar-default .navbar-nav {
  padding-top: 8px;
  padding-bottom: 8px;
}
header2 .navbar-default .navbar-nav li a {
  color: #191919;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
}
header2 .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFBFC;
  background-color: #88aa00;
}
header2 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #88aa00;
}
header2 .navbar-fixed-top.scrolled {
  background-color: #f2f2f2;
  transition: background-color 1500ms linear;
}
header2 .navbar-fixed-top {
-webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}}
/*-----------------------------------------------*/
@media only screen and (min-width: 768px) {
header2 {
  background-color: #FFFBFC;
  padding-top: 49px;
}
header2 .navbar {
  padding-left: 20px;
  padding-right: 40px; 
}
header2 .navbar-brand {
  margin-top: -7px; 
}
header2 .navbar-default {
  border: 0px;
  padding-left: 29px;
}
header2 .navbar-default .navbar-nav {
  padding-top: 8px;
  padding-bottom: 8px;
}
header2 .navbar-default .navbar-nav li a {
  color: #191919;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
}
header2 .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFBFC;
  background-color: #88aa00;
}
header2 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #88aa00;
}
header2 .navbar-fixed-top.scrolled {
  background-color: #f2f2f2;
  transition: background-color 1500ms linear;
}
header2 .navbar-fixed-top {
-webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}}
/*-----------------------------------------------*/
@media only screen and (min-width: 1200px) {
header2 {
  background-color: #FFFBFC;
  padding-top: 49px;
}
header2 .navbar {
  padding-left: 20px;
  padding-right: 40px; 
}
header2 .navbar-brand {
  margin-top: -11px; 
}
header2 .navbar-default {
  border: 0px;
  padding-left: 29px;
}
header2 .navbar-default .navbar-nav {
  padding-top: 8px;
  padding-bottom: 8px;
}
header2 .navbar-default .navbar-nav li a {
  color: #191919;
  padding: 12px 25px;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
}
header2 .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFBFC;
  background-color: #88aa00;
}
header2 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #88aa00;
}
header2 .navbar-fixed-top.scrolled {
  background-color: #f2f2f2;
  transition: background-color 1500ms linear;
}
header2 .navbar-fixed-top {
-webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}}





/*---------------------------------------------
					home start
-----------------------------------------------*/
@media only screen and (max-width: 680px) {
#home-slider{
  background: url("../img/home-slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 80px 0 0px 0;
  height: 480px;
  position: relative;
  color: #FFFBFC;
}}
@media only screen and (min-width: 680px) {
#home-slider {
  background: url("../img/home-slider.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 130px 0 200px 0;
  position: relative;
  color: #FFFBFC;
}}
@media only screen and (min-width: 1200px) {
#home-slider{
  background: url("../img/home-slider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 230px 0 300px 0;
  position: relative;
  color: #FFFBFC;
}}
/*---------------------------------------------*/
#home-slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, #444c44, #192319);
  opacity: 0.5;
}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#home-slider .block h1 {
  font-size: 36px;
  line-height: 41px;
  padding-bottom: 40px;
}}
@media only screen and (min-width: 400px) {
#home-slider .block h1 {
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 50px;
}}
@media only screen and (min-width: 992px) {
#home-slider .block h1 {
  font-size: 55px;
  line-height: 60px;
  padding-bottom: 50px;
}}
@media only screen and (min-width: 1200px) {
#home-slider .block h1 {
  font-size: 65px;
  line-height: 70px;
  padding-bottom: 50px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#home-slider .block h2 {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 25px;
}}
@media only screen and (min-width: 400px) {
#home-slider .block h2 {
  font-size: 19px;
  letter-spacing: 1.1px;
  line-height: 30px;
}}
@media only screen and (min-width: 992px) {
#home-slider .block h2 {
  font-size: 22px;
  letter-spacing: 1.2px;
  line-height: 35px;
}}
@media only screen and (min-width: 1200px) {
#home-slider .block h2 {
  font-size: 25px;
  letter-spacing: 1.2px;
  line-height: 40px;
}}
/*--
	home-text start 
--*/
@media only screen and (max-width: 992px) {
#home-text {
  padding: 40px 0 40px 0;
}}
@media only screen and (min-width: 992px) {
#home-text {
  padding: 80px 0 80px 0;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#home-text h1 {
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #191919;
  margin-left: 5px;
  margin-right: 5px;
}}
@media only screen and (min-width: 400px) {
#home-text h1 {
  font-size: 25px;
  line-height: 50px;
  text-transform: uppercase;
  color: #191919;
  margin-left: 20px;
  margin-right: 20px;
}}
@media only screen and (min-width: 992px) {
#home-text h1 {
  font-size: 30px;
  line-height: 62px;
  text-transform: uppercase;
  color: #191919;
  margin-left: 60px;
  margin-right: 60px;
}}
@media only screen and (min-width: 1200px) {
#home-text h1 {
  font-size: 34px;
  line-height: 70px;
  text-transform: uppercase;
  color: #191919;
  margin-left: 30px;
  margin-right: 30px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#home-text p {
  font-size: 16px;
  line-height: 22px;
  margin-left: 5px;
  margin-right: 5px;
}}
@media only screen and (min-width: 400px) {
#home-text p {
  font-size: 17px;
  line-height: 25px;
  margin-left: 20px;
  margin-right: 20px;
}}
@media only screen and (min-width: 992px) {
#home-text p {
  font-size: 18px;
  line-height: 29px;
  margin-left: 60px;
  margin-right: 60px;
}}
@media only screen and (min-width: 1200px) {
#home-text p {
  font-size: 19px;
  line-height: 34px;
  margin-left: 30px;
  margin-right: 30px;
}}
/*--
	home-message start
--*/
@media only screen and (max-width: 680px) {
#home-message{
  background: url("../img/home-message.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 180px 0 80px 0;
  height: 480px;
  position: relative;
  color: #FFFBFC;
}}
@media only screen and (min-width: 680px) {
#home-message {
  background: url("../img/home-message.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 240px 0 240px 0;
  position: relative;
  color: #FFFBFC;
}}
@media only screen and (min-width: 1200px) {
#home-message{
  background: url("../img/home-message.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 330px 0 330px 0;
  position: relative;
  color: #FFFBFC;
}}
/*---------------------------------------------*/
#home-message:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to left, #444c44, #192319);  
  opacity: 0.5;
}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#home-message h1 {
  font-size: 36px;
  line-height: 41px;
}}
@media only screen and (min-width: 400px) {
#home-message h1 {
  font-size: 45px;
  line-height: 50px;
}}
@media only screen and (min-width: 992px) {
#home-message h1 {
  font-size: 55px;
  line-height: 60px;
}}
@media only screen and (min-width: 1200px) {
#home-message h1 {
  font-size: 65px;
  line-height: 70px;
}}





/*---------------------------------------------
					project start 
-----------------------------------------------*/
@media only screen and (max-width: 680px) {
#project-slider{
  background: url("../img/project-slider.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  padding: 145px 0 0px 0;
  height: 480px;
  position: relative;
  color: #FFFBFC;
}}
@media only screen and (min-width: 680px) {
  #project-slider {
    background: url("../img/project-slider.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    padding: 130px 0 200px 0;
    position: relative;
    color: #FFFBFC;
}}
@media only screen and (min-width: 1200px) {
  #project-slider{
    background: url("../img/project-slider.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    padding: 270px 0 340px 0;
    position: relative;
    color: #FFFBFC;
}}
/*---------------------------------------------*/
#project-slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, #444c44, #192319);
  opacity: 0.5;
}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#project-slider .block h1 {
  font-size: 36px;
  line-height: 41px;
  padding-bottom: 15px;
}}
@media only screen and (min-width: 400px) {
#project-slider .block h1 {
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 17px;
}}
@media only screen and (min-width: 992px) {
#project-slider .block h1 {
  font-size: 55px;
  line-height: 60px;
  padding-bottom: 17px;
}}
@media only screen and (min-width: 1200px) {
#project-slider .block h1 {
  font-size: 65px;
  line-height: 20px;
  padding-bottom: 50px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#project-slider .block h2 {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 25px;
}}
@media only screen and (min-width: 400px) {
#project-slider .block h2 {
  font-size: 19px;
  letter-spacing: 1.1px;
  line-height: 30px;
}}
@media only screen and (min-width: 992px) {
#project-slider .block h2 {
  font-size: 22px;
  letter-spacing: 1.2px;
  line-height: 35px;
}}
@media only screen and (min-width: 1200px) {
#project-slider .block h2 {
  font-size: 25px;
  letter-spacing: 1.2px;
  line-height: 40px;
}}
/*--
	project-text1 start 
--*/
@media only screen and (max-width: 992px) {
#project-text1 {
  padding: 40px 0 20px 0;
}}
@media only screen and (min-width: 992px) {
#project-text1 {
  padding: 80px 0 30px 0;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#project-text1 p {
  font-size: 16px;
  line-height: 22px;
  margin-left: 5px;
  margin-right: 5px;
}}
@media only screen and (min-width: 400px) {
#project-text1 p {
  font-size: 17px;
  line-height: 25px;
  margin-left: 20px;
  margin-right: 20px;
}}
@media only screen and (min-width: 992px) {
#project-text1 p {
  font-size: 18px;
  line-height: 29px;
  margin-left: 60px;
  margin-right: 60px;
}}
@media only screen and (min-width: 1200px) {
#project-text1 p {
  font-size: 19px;
  line-height: 34px;
  margin-left: 30px;
  margin-right: 30px;
}}
/*--
  project-map start 
--*/
@media only screen and (max-width: 400px) {
#project-map .iframe-container{
  position: relative;
  overflow: hidden;
  padding-top: 90%;
  margin-bottom: -30px;
  margin-left: 5px;
  margin-right: 5px;
}}
@media only screen and (min-width: 400px) {
#project-map .iframe-container{
  position: relative;
  overflow: hidden;
  padding-top: 70%;
  margin-left: 20px;
  margin-right: 20px;
}}
@media only screen and (min-width: 992px) {
#project-map .iframe-container{
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}}
@media only screen and (min-width: 1200px) {
#project-map .iframe-container{
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-left: 30px;
  margin-right: 30px;
}}
/*---------------------------------------------*/
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/*--
  project-text2 start 
--*/
@media only screen and (max-width: 400px) {
#project-text2 {
  padding: 10px 0;
  margin-bottom: -10px;
}}
@media only screen and (min-width: 400px) {
#project-text2 {
  margin-bottom: -10px;
}}
@media only screen and (min-width: 992px) {
#project-text2 {
  padding: 50px 0;
  margin-bottom: -70px;
}}
@media only screen and (min-width: 1200px) {
#project-text2 {
  padding: 50px 0;
  margin-bottom: -70px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#project-text2 p {
  font-size: 16px;
  line-height: 22px;
  margin-left: 5px;
  margin-right: 5px;
}}
@media only screen and (min-width: 400px) {
#project-text2 p {
  font-size: 17px;
  line-height: 25px;
  margin-left: 20px;
  margin-right: 20px;
}}
@media only screen and (min-width: 992px) {
#project-text2 p {
  font-size: 18px;
  line-height: 29px;
  margin-left: 60px;
  margin-right: 60px;
}}
@media only screen and (min-width: 1200px) {
#project-text2 p {
  font-size: 19px;
  line-height: 34px;
  margin-left: 30px;
  margin-right: 30px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#project-text2 h2 {
  color: #88aa00;
  text-transform: uppercase;
  text-align: left;
  font-size: 22px;
  line-height: 24px;
  margin-left: 5px;
  margin-bottom: 20px;
}}
@media only screen and (min-width: 400px) {
#project-text2 h2 {
  color: #88aa00;
  text-transform: uppercase;
  text-align: left;
  font-size: 24px;
  line-height: 26px;
  margin-left: 20px;
  margin-bottom: 20px;
}}
@media only screen and (min-width: 992px) {
#project-text2 h2 {
  color: #88aa00;
  text-transform: uppercase;
  text-align: left;
  font-size: 26px;
  line-height: 28px;
  margin-left: 60px;
  margin-bottom: 20px;
  margin-top: -20px;
}}
@media only screen and (min-width: 1200px) {
#project-text2 h2 {
  color: #88aa00;
  text-transform: uppercase;
  text-align: left;
  font-size: 28px;
  line-height: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: -10px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#project-text2 .block img {
margin-left: 5px;
padding-top: 20px;
width:100%;
padding:2%;
}}
@media only screen and (min-width: 400px) {
#project-text2 .block img {
margin-left: 20px;
margin-top: -45px;
margin-bottom: -45px;
width:100%;
padding:15%;
}}
@media only screen and (min-width: 992px) {
#project-text2 .block img {
margin-right: 60px;
margin-top: 40px;
width:100%;
padding:0%;
}}
@media only screen and (min-width: 1200px) {
#project-text2 .block img {
margin-right: 30px;
margin-top: -10px;
margin-bottom: 20px;
width:95%;
}}





/*---------------------------------------------
          about-us start 
-----------------------------------------------*/
@media only screen and (max-width: 680px) {
#about-us-slider{
  background: url("../img/about-us-slider.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  padding: 145px 0 0px 0;
  height: 480px;
  position: relative;
  color: #FFFBFC;
}}
@media only screen and (min-width: 680px) {
  #about-us-slider {
    background: url("../img/about-us-slider.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    padding: 130px 0 200px 0;
    position: relative;
    color: #FFFBFC;
}}
@media only screen and (min-width: 1200px) {
  #about-us-slider{
    background: url("../img/about-us-slider.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    padding: 270px 0 340px 0;
    position: relative;
    color: #FFFBFC;
}}
/*---------------------------------------------*/
#about-us-slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, #444c44, #192319);
  opacity: 0.5;
}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#about-us-slider .block h1 {
  font-size: 36px;
  line-height: 41px;
  padding-bottom: 15px;
}}
@media only screen and (min-width: 400px) {
#about-us-slider .block h1 {
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 17px;
}}
@media only screen and (min-width: 992px) {
#about-us-slider .block h1 {
  font-size: 55px;
  line-height: 60px;
  padding-bottom: 17px;
}}
@media only screen and (min-width: 1200px) {
#about-us-slider .block h1 {
  font-size: 65px;
  line-height: 20px;
  padding-bottom: 50px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#about-us-slider .block h2 {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 25px;
}}
@media only screen and (min-width: 400px) {
#about-us-slider .block h2 {
  font-size: 19px;
  letter-spacing: 1.1px;
  line-height: 30px;
}}
@media only screen and (min-width: 992px) {
#about-us-slider .block h2 {
  font-size: 22px;
  letter-spacing: 1.2px;
  line-height: 35px;
}}
@media only screen and (min-width: 1200px) {
#about-us-slider .block h2 {
  font-size: 25px;
  letter-spacing: 1.2px;
  line-height: 40px;
}}
/*--
  arianna start 
--*/
@media only screen and (max-width: 400px) {
#arianna {
  background-color: #FFFBFC;
  background-size: cover;
  padding: 20px 0 20px 0;
  position: relative;
}}
@media only screen and (min-width: 400px) {
#arianna {
  background-color: #FFFBFC;
  background-size: cover;
  padding: 40px 0 0px 0;
  position: relative;
}}
@media only screen and (min-width: 992px) {
#arianna {
  background-color: #FFFBFC;
  background-size: cover;
  padding: 30px 0 30px 0;
  position: relative;
}}
@media only screen and (min-width: 1200px) {
#arianna {
  background-color: #FFFBFC;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#arianna .block h1 {
  font-size: 25px;
  text-transform: uppercase;
  color: #88aa00;
  padding-bottom: 12px;
}}
@media only screen and (min-width: 400px) {
#arianna .block h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #88aa00;
  padding-bottom: 15px;
}}
@media only screen and (min-width: 992px) {
#arianna .block h1 {
  font-size: 35px;
  text-transform: uppercase;
  color: #88aa00;
  padding-bottom: 20px;
}}
@media only screen and (min-width: 1200px) {
#arianna .block h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #88aa00;
  padding-bottom: 25px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#arianna .block p {
  font-size: 16px;
  line-height: 20px;
}}
@media only screen and (min-width: 400px) {
#arianna .block p {
  font-size: 17px;
  line-height: 23px;
}}
@media only screen and (min-width: 992px) {
#arianna .block p {
  font-size: 18px;
  line-height: 27px;
}}
@media only screen and (min-width: 1200px) {
#arianna .block p {
  font-size: 19px;
  line-height: 30px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#arianna .block img {
  margin-top: -30px;
  width:100%;
  padding: 10%;
  margin-bottom: -50px;
}}
@media only screen and (min-width: 400px) {
#arianna .block img {
  margin-top: -80px;
  width:100%;
  padding: 20%;
  margin-bottom: -50px;
}}
@media only screen and (min-width: 992px) {
#arianna .block img {
  margin-top: 135px;
  width:100%;
  padding: 0%;
}}
@media only screen and (min-width: 1200px) {
#arianna .block img {
  margin-top: 105px;
  padding: 5%;
  width:100%;
}}
/*--
  daniel start 
--*/
@media only screen and (max-width: 400px) {
#daniel {
  background-color: #FFFBFC;
  background-size: cover;
  padding: 20px 0 20px 0;
  position: relative;
}}
@media only screen and (min-width: 400px) {
#daniel {
  background-color: #FFFBFC;
  background-size: cover;
  position: relative;
}}
@media only screen and (min-width: 992px) {
#daniel {
  background-color: #FFFBFC;
  background-size: cover;
  padding: 30px 0 30px 0;
  position: relative;
}}
@media only screen and (min-width: 1200px) {
#daniel {
  background-color: #FFFBFC;
  background-size: cover;
  padding: 40px 0 40px 0;
  position: relative;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#daniel .block h1 {
  font-size: 25px;
  text-transform: uppercase;
  color: #88aa00;
  padding-bottom: 12px;
}}
@media only screen and (min-width: 400px) {
#daniel .block h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #88aa00;
  padding-bottom: 15px;
}}
@media only screen and (min-width: 992px) {
#daniel .block h1 {
  font-size: 35px;
  text-transform: uppercase;
  color: #88aa00;
  padding-bottom: 20px;
}}
@media only screen and (min-width: 1200px) {
#daniel .block h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #88aa00;
  padding-bottom: 25px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#daniel .block p {
  font-size: 16px;
  line-height: 20px;
}}
@media only screen and (min-width: 400px) {
#daniel .block p {
  font-size: 17px;
  line-height: 23px;
}}
@media only screen and (min-width: 992px) {
#daniel .block p {
  font-size: 18px;
  line-height: 27px;
}}
@media only screen and (min-width: 1200px) {
#daniel .block p {
  font-size: 19px;
  line-height: 30px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#daniel .block img {
  margin-top: -30px;
  width:100%;
  padding: 10%;
  margin-bottom: -50px;
}}
@media only screen and (min-width: 400px) {
#daniel .block img {
  margin-top: -80px;
  width:100%;
  padding: 20%;
  margin-bottom: -50px;
}}
@media only screen and (min-width: 992px) {
#daniel .block img {
  margin-top: 125px;
  width:100%;
  padding: 5%;
}}
@media only screen and (min-width: 1200px) {
#daniel .block img {
  margin-top: 95px;
  padding: 0%;
  width:100%;
}}
/*--
  zola start 
--*/
@media only screen and (max-width: 400px) {
#zola {
  background-color: #FFFBFC;
  background-size: cover;
  position: relative;
}}
@media only screen and (min-width: 400px) {
#zola {
  background-color: #FFFBFC;
  background-size: cover;
  position: relative;
}}
@media only screen and (min-width: 992px) {
#zola {
  background-color: #FFFBFC;
  background-size: cover;
  padding: 30px 0 30px 0;
  position: relative;
}}
@media only screen and (min-width: 1200px) {
#zola {
  background-color: #FFFBFC;
  background-size: cover;
  padding: 40px 0 40px 0;
  position: relative;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#zola .block h1 {
  font-size: 25px;
  text-transform: uppercase;
  color: #88aa00;
  padding-bottom: 12px;
}}
@media only screen and (min-width: 400px) {
#zola .block h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #88aa00;
  padding-bottom: 15px;
}}
@media only screen and (min-width: 992px) {
#zola .block h1 {
  font-size: 35px;
  text-transform: uppercase;
  color: #88aa00;
  padding-bottom: 20px;
}}
@media only screen and (min-width: 1200px) {
#zola .block h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #88aa00;
  padding-bottom: 25px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#zola .block p {
  font-size: 16px;
  line-height: 20px;
}}
@media only screen and (min-width: 400px) {
#zola .block p {
  font-size: 17px;
  line-height: 23px;
}}
@media only screen and (min-width: 992px) {
#zola .block p {
  font-size: 18px;
  line-height: 27px;
}}
@media only screen and (min-width: 1200px) {
#zola .block p {
  font-size: 19px;
  line-height: 30px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#zola .block img {
  margin-top: -30px;
  width:100%;
  padding: 10%;
  margin-bottom: -50px;
}}
@media only screen and (min-width: 400px) {
#zola .block img {
  margin-top: -80px;
  width:100%;
  padding: 20%;
  margin-bottom: -50px;
}}
@media only screen and (min-width: 992px) {
#zola .block img {
  margin-top: 125px;
  width:100%;
  padding: 0%;
}}
@media only screen and (min-width: 1200px) {
#zola .block img {
  margin-top: 95px;
  padding: 5%;
  width:100%;
}}





/*---------------------------------------------
          blog start 
-----------------------------------------------*/
@media only screen and (max-width: 680px) {
#blog-slider{
  background: url("../img/blog-slider.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  padding: 145px 0 0px 0;
  height: 480px;
  position: relative;
  color: #FFFBFC;
}}
@media only screen and (min-width: 680px) {
  #blog-slider {
    background: url("../img/blog-slider.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    padding: 130px 0 200px 0;
    position: relative;
    color: #FFFBFC;
}}
@media only screen and (min-width: 1200px) {
  #blog-slider{
    background: url("../img/blog-slider.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    padding: 270px 0 340px 0;
    position: relative;
    color: #FFFBFC;
}}
/*---------------------------------------------*/
#blog-slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, #444c44, #192319);
  opacity: 0.5;
}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#blog-slider .block h1 {
  font-size: 36px;
  line-height: 41px;
  padding-bottom: 15px;
}}
@media only screen and (min-width: 400px) {
#blog-slider .block h1 {
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 17px;
}}
@media only screen and (min-width: 992px) {
#blog-slider .block h1 {
  font-size: 55px;
  line-height: 60px;
  padding-bottom: 17px;
}}
@media only screen and (min-width: 1200px) {
#blog-slider .block h1 {
  font-size: 65px;
  line-height: 20px;
  padding-bottom: 50px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#blog-slider .block h2 {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 25px;
}}
@media only screen and (min-width: 400px) {
#blog-slider .block h2 {
  font-size: 19px;
  letter-spacing: 1.1px;
  line-height: 30px;
}}
@media only screen and (min-width: 992px) {
#blog-slider .block h2 {
  font-size: 22px;
  letter-spacing: 1.2px;
  line-height: 35px;
}}
@media only screen and (min-width: 1200px) {
#blog-slider .block h2 {
  font-size: 25px;
  letter-spacing: 1.2px;
  line-height: 40px;
}}
/*--
  blog-posts start 
--*/
@media only screen and (max-width: 400px) {
#blog-posts h1 {
  font-size: 25px;
  text-align: left;
  color: #88aa00;
  padding-top: 15px;
}}
@media only screen and (min-width: 400px) {
#blog-posts h1 {
  font-size: 30px;
  text-align: left;
  color: #88aa00;
  padding-top: 20px;
}}
@media only screen and (min-width: 992px) {
#blog-posts h1 {
  font-size: 35px;
  text-align: left;
  color: #88aa00;
  padding-top: 30px;
}}
@media only screen and (min-width: 1200px) {
#blog-posts h1 {
  font-size: 40px;
  text-align: left;
  color: #88aa00;
  padding-top: 30px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#blog-posts h2 {
  line-height: 25px;
  font-size: 16px;
  text-align: left;
  padding-bottom: 10px;
  color: #191919;
}}
@media only screen and (min-width: 400px) {
#blog-posts h2 {
  line-height: 27px;
  font-size: 17px;
  text-align: left;
  padding-bottom: 10px;
  color: #191919;
}}
@media only screen and (min-width: 992px) {
#blog-posts h2 {
  line-height: 29px;
  font-size: 18px;
  text-align: left;
  padding-bottom: 10px;
  color: #191919;
}}
@media only screen and (min-width: 1200px) {
#blog-posts h2 {
  line-height: 29px;
  font-size: 18px;
  text-align: left;
  padding-bottom: 10px;
  color: #191919;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#blog-posts p {
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 12px;
  color: #191919;
}}
@media only screen and (min-width: 400px) {
#blog-posts p {
  line-height: 27px;
  font-size: 17px;
  margin-bottom: 12px;
  color: #191919;
}}
@media only screen and (min-width: 992px) {
#blog-posts p {
  line-height: 29px;
  font-size: 18px;
  margin-bottom: 12px;
  color: #191919;
}}
@media only screen and (min-width: 1200px) {
#blog-posts p {
  line-height: 29px;
  font-size: 18px;
  margin-bottom: 12px;
  color: #191919;
}}
/*---------------------------------------------*/
}
#blog-posts .img-responsive{
  width: 100%;
  margin-bottom:8px; 
}





/*---------------------------------------------
          post start 
-----------------------------------------------*/
@media only screen and (max-width: 400px) {
#post-content h1 {
  font-size: 25px;
  color: #88aa00;
  padding-bottom: 15px;
  margin-top: 80px;
  text-align: left;
}}
@media only screen and (min-width: 400px) {
#post-content h1 {
  font-size: 30px;
  color: #88aa00;
  padding-bottom: 15px;
  margin-top: 80px;
  text-align: left;
}}
@media only screen and (min-width: 992px) {
#post-content h1 {
  font-size: 35px;
  color: #88aa00;
  padding-bottom: 15px;
  margin-top: 80px;
  text-align: left;
}}
@media only screen and (min-width: 1200px) {
#post-content h1 {
  font-size: 40px;
  color: #88aa00;
  padding-bottom: 15px;
  margin-top: 80px;
  text-align: left;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#post-content h2 {
  line-height: 25px;
  font-size: 16px;
  text-align: left;
  padding-bottom: 12px;
  color: #191919;
}}
@media only screen and (min-width: 400px) {
#post-content h2 {
  line-height: 27px;
  font-size: 17px;
  text-align: left;
  padding-bottom: 12px;
  color: #191919;
}}
@media only screen and (min-width: 992px) {
#post-content h2 {
  line-height: 29px;
  font-size: 18px;
  text-align: left;
  padding-bottom: 15px;
  color: #191919;
}}
@media only screen and (min-width: 1200px) {
#post-content h2 {
  line-height: 29px;
  font-size: 18px;
  text-align: left;
  padding-bottom: 15px;
  color: #191919;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#post-content p {
  line-height: 29px;
  font-size: 18px;
  padding-bottom: 12px;
}}
@media only screen and (min-width: 400px) {
#post-content p {
  line-height: 29px;
  font-size: 18px;
  padding-bottom: 12px;
}}
@media only screen and (min-width: 992px) {
#post-content p {
  line-height: 29px;
  font-size: 18px;
  padding-bottom: 15px;
}}
@media only screen and (min-width: 1200px) {
#post-content p {
  line-height: 29px;
  font-size: 18px;
  padding-bottom: 15px;
}}
/*---------------------------------------------*/
#post-content h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 20px;
  font-size: 15px;
  margin-top: 5px;
  padding-bottom: 10px;
}
/*--
  post-sidebar start 
--*/
@media only screen and (max-width: 400px) {
#post-sidebar {
  width:100%;
  margin-top: 50px;
}}
@media only screen and (min-width: 400px) {
#post-sidebar {
  width:100%;
  margin-top: 70px;
}}
@media only screen and (min-width: 992px) {
#post-sidebar {
  width:100%;
  margin-top: 90px;
}}
@media only screen and (min-width: 1200px) {
#post-sidebar {
  width:100%;
  margin-top: 210px;
}}
/*---------------------------------------------*/
#post-sidebar .well{
  background-color: #f7f7f7;
}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#post-sidebar h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
  color: #191919;
  text-transform: uppercase;
}}
@media only screen and (min-width: 400px) {
#post-sidebar h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  color: #191919;
  text-transform: uppercase;
}}
@media only screen and (min-width: 992px) {
#post-sidebar h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 19px;
  color: #191919;
  text-transform: uppercase;;
}}
@media only screen and (min-width: 1200px) {
#post-sidebar h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  color: #191919;
  text-transform: uppercase;;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#post-sidebar ul {
  font-family: 'Nunito', sans-serif;
  line-height: 28px;
  font-size: 16px;
}}
@media only screen and (min-width: 400px) {
#post-sidebar ul {
  font-family: 'Nunito', sans-serif;
  line-height: 28px;
  font-size: 16px;
}}
@media only screen and (min-width: 992px) {
#post-sidebar ul {
  font-family: 'Nunito', sans-serif;
  line-height: 30px;
  font-size: 17px;
}}
@media only screen and (min-width: 1200px) {
#post-sidebar ul {
  font-family: 'Nunito', sans-serif;
  line-height: 30px;
  font-size: 17px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#post-sidebar i {
  font-size: 20px;
}}
@media only screen and (min-width: 400px) {
#post-sidebar i {
  font-size: 24px;
}}
@media only screen and (min-width: 992px) {
#post-sidebar i {
  font-size: 28px;
}}
@media only screen and (min-width: 1200px) {
#post-sidebar i {
  font-size: 30px;
}}
/*--
  post-contact start 
--*/
#post-contact .social-icons{
  padding-top: 15px;
  margin-left: -38px;
}





/*---------------------------------------------
          contact start 
-----------------------------------------------*/
@media only screen and (max-width: 680px) {
#contact-slider{
  background: url("../img/contact-slider.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  padding: 145px 0 0px 0;
  height: 480px;
  position: relative;
  color: #FFFBFC;
}}
@media only screen and (min-width: 680px) {
  #contact-slider {
    background: url("../img/contact-slider.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    padding: 130px 0 200px 0;
    position: relative;
    color: #FFFBFC;
}}
@media only screen and (min-width: 1200px) {
  #contact-slider{
    background: url("../img/contact-slider.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    padding: 270px 0 340px 0;
    position: relative;
    color: #FFFBFC;
}}
/*---------------------------------------------*/
#contact-slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, #444c44, #192319);
  opacity: 0.5;
}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#contact-slider .block h1 {
  font-size: 36px;
  line-height: 41px;
  padding-bottom: 15px;
}}
@media only screen and (min-width: 400px) {
#contact-slider .block h1 {
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 17px;
}}
@media only screen and (min-width: 992px) {
#contact-slider .block h1 {
  font-size: 55px;
  line-height: 60px;
  padding-bottom: 17px;
}}
@media only screen and (min-width: 1200px) {
#contact-slider .block h1 {
  font-size: 65px;
  line-height: 20px;
  padding-bottom: 50px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#contact-slider .block h2 {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 25px;
}}
@media only screen and (min-width: 400px) {
#contact-slider .block h2 {
  font-size: 19px;
  letter-spacing: 1.1px;
  line-height: 30px;
}}
@media only screen and (min-width: 992px) {
#contact-slider .block h2 {
  font-size: 22px;
  letter-spacing: 1.2px;
  line-height: 35px;
}}
@media only screen and (min-width: 1200px) {
#contact-slider .block h2 {
  font-size: 25px;
  letter-spacing: 1.2px;
  line-height: 40px;
}}
/*--
	contact-form start 
--*/
@media only screen and (max-width: 400px) {
#contact-form {
  padding-top: 70px;
}}
@media only screen and (min-width: 400px) {
#contact-form {
  padding-top: 80px;
}}
@media only screen and (min-width: 992px) {
#contact-form {
  padding-top: 90px;
}}
@media only screen and (min-width: 1200px) {
#contact-form {
  padding-top: 100px;
}}
/*---------------------------------------------*/
#contact-form form .block .form-group {
  padding-bottom: 15px;
}
#contact-form form .block  .form-group .form-control {
  background-color: #F7F7F7;
  height: 60px;
  border: 1px solid #ededed;
  box-shadow: none;
}
#contact-form form .block .form-group-2 {
  padding-bottom: 15px;
}
#contact-form form .block .form-group-2 textarea {
  background-color: #F7F7F7;
  height: 164px;
  border: 1px solid #ededed;
  box-shadow: none;
}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#contact-form .block button {
  width: 100%;
  height: 60px;
  background: #88aa00;
  border: none;
  color: #FFFBFC;
  font-size: 17px;
}}
@media only screen and (min-width: 400px) {
#contact-form .block button {
  width: 100%;
  height: 60px;
  background: #88aa00;
  border: none;
  color: #FFFBFC;
  font-size: 17px;
}}
@media only screen and (min-width: 992px) {
#contact-form .block button {
  width: 100%;
  height: 60px;
  background: #88aa00;
  border: none;
  color: #FFFBFC;
  font-size: 18px;
}}
@media only screen and (min-width: 1200px) {
#contact-form .block button {
  width: 100%;
  height: 60px;
  background: #88aa00;
  border: none;
  color: #FFFBFC;
  font-size: 18px;
}}
/*---------------------------------------------*/
#contact-form .block button:hover {
  color: #191919;
}
/*--
  contact-box start 
--*/
@media only screen and (max-width: 400px) {
#contact-box {
  padding-top: 45px;
  margin-bottom: -10px;
  text-align: center;
}}
@media only screen and (min-width: 400px) {
#contact-box {
  padding-top: 55px;
  margin-bottom: -10px;
  text-align: center;
}}
@media only screen and (min-width: 992px) {
#contact-box {
  padding-top: 35px;
  margin-bottom: -10px;
  text-align: center;
}}
@media only screen and (min-width: 1200px) {
#contact-box {
  padding-top: 35px;
  margin-bottom: -10px;
  text-align: center;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#contact-box .block h1{
  font-size: 18px;
  text-transform: uppercase;
  color: #191919;
}}
@media only screen and (min-width: 400px) {
#contact-box .block h1{
  font-size: 20px;
  text-transform: uppercase;
  color: #191919;;
}}
@media only screen and (min-width: 992px) {
#contact-box .block h1{
  font-size: 21px;
  text-transform: uppercase;
  color: #191919;
}}
@media only screen and (min-width: 1200px) {
#contact-box .block h1{
  font-size: 22px;
  text-transform: uppercase;
  color: #191919;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#contact-box li {
  display: inline-block;
  font-size: 16px;
}}
@media only screen and (min-width: 400px) {
#contact-box li {
  display: inline-block;
  font-size: 16px;
}}
@media only screen and (min-width: 992px) {
#contact-box li {
  display: inline-block;
  font-size: 17px;
}}
@media only screen and (min-width: 1200px) {
#contact-box li {
  display: inline-block;
  font-size: 18px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#contact-box i {
  font-size: 24px;
}}
@media only screen and (min-width: 400px) {
#contact-box i {
  font-size: 26px;
}}
@media only screen and (min-width: 992px) {
#contact-box i {
  font-size: 28px;
}}
@media only screen and (min-width: 1200px) {
#contact-box i {
  font-size: 30px;
}}
/*---------------------------------------------*/
}
#contact-box .social-icons {
  padding-top: 12px;
}
.social-icons li {
  display: inline-block;
}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
.social-icons i {
  color: #88aa00;
  margin-right: 30px;
  font-size: 24px;
}}
@media only screen and (min-width: 400px) {
.social-icons i {
  color: #88aa00;
  margin-right: 30px;
  font-size: 26px;
}}
@media only screen and (min-width: 992px) {
.social-icons i {
  color: #88aa00;
  margin-right: 30px;
  font-size: 28px;
}}
@media only screen and (min-width: 1200px) {
.social-icons i {
  color: #88aa00;
  margin-right: 30px;
  font-size: 30px;
}}
/*---------------------------------------------*/
.fa-instagram:hover {
  color: #749100;
}
.fa-twitter:hover {
  color: #749100;
}





/*---------------------------------------------
          thank-you start 
-----------------------------------------------*/
/*--
  thank-you-slider start 
--*/
@media only screen and (max-width: 680px) {
#thank-you-slider{
  background: url("../img/thank-you-slider.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  padding: 145px 0 0px 0;
  height: 480px;
  position: relative;
  color: #FFFBFC;
}}
@media only screen and (min-width: 680px) {
  #thank-you-slider {
    background: url("../img/thank-you-slider.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    padding: 130px 0 200px 0;
    position: relative;
    color: #FFFBFC;
}}
@media only screen and (min-width: 1200px) {
  #thank-you-slider{
    background: url("../img/thank-you-slider.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    padding: 150px 0 150px 0;
    position: relative;
    color: #FFFBFC;
}}
/*---------------------------------------------*/
#thank-you-slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, #444c44, #192319);
  opacity: 0.5;
}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#thank-you-slider .block h1 {
  font-size: 36px;
  line-height: 41px;
  padding-bottom: 15px;
}}
@media only screen and (min-width: 400px) {
#thank-you-slider .block h1 {
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 17px;
}}
@media only screen and (min-width: 992px) {
#thank-you-slider .block h1 {
  font-size: 55px;
  line-height: 60px;
  padding-bottom: 17px;
}}
@media only screen and (min-width: 1200px) {
#thank-you-slider .block h1 {
  font-size: 65px;
  line-height: 20px;
  padding-bottom: 50px;
}}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#thank-you-slider .block h2 {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 25px;
}}
@media only screen and (min-width: 400px) {
#thank-you-slider .block h2 {
  font-size: 19px;
  letter-spacing: 1.1px;
  line-height: 30px;
}}
@media only screen and (min-width: 992px) {
#thank-you-slider .block h2 {
  font-size: 22px;
  letter-spacing: 1.2px;
  line-height: 35px;
}}
@media only screen and (min-width: 1200px) {
#thank-you-slider .block h2 {
  font-size: 25px;
  letter-spacing: 1.2px;
  line-height: 40px;
}}
/*--
  thank-you-message start 
--*/
#thank-you-message {
  padding-top: 35px;
  margin-bottom: -10px;
  text-align: center;
}
/*---------------------------------------------*/
@media only screen and (max-width: 400px) {
#thank-you-message .block h1{
  font-size: 19px;
  text-transform: uppercase;
  color: #191919;
}}
@media only screen and (min-width: 400px) {
#thank-you-message .block h1{
  font-size: 20px;
  text-transform: uppercase;
  color: #191919;
}}
@media only screen and (min-width: 992px) {
#thank-you-message .block h1{
  font-size: 21px;
  text-transform: uppercase;
  color: #191919;
}}
@media only screen and (min-width: 1200px) {
#thank-you-message .block h1{
  font-size: 22px;
  text-transform: uppercase;
  color: #191919;
}}
/*---------------------------------------------*/

#thank-you-message .social-icons {
  padding-top: 12px;
}





/*--
	footer start 
--*/
@media only screen and (max-width: 768px) {
footer {
  background: #FFFBFC;
  text-align: center;
  padding: 50px 0 10px 0;
}
footer p {
  font-size: 12px;
  line-height: 22px;
  color: #ADA9AB;
  text-align: center;
}
footer a {
  color: #ADA9AB;
}
footer .footer-menu {
  padding-bottom: 20px;
}
footer .footer-menu ul {
margin-right: 40px;
}
footer .footer-menu ul li {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
  display: inline-block;
  padding: 0px 10px;
  text-transform: uppercase;
}
footer .footer-menu ul li a {
  display: inline-block;
  color: #191919;
}
footer .footer-menu ul li a:hover {
  color: #88aa00;
}}
/*---------------------------------------------*/
@media only screen and (min-width: 768px) {
footer {
  background: #FFFBFC;
  text-align: center;
  padding: 80px 0 10px 0;
}
footer p {
  font-size: 12px;
  line-height: 22px;
  color: #ADA9AB;
  text-align: center;
}
footer a {
  color: #ADA9AB;
}
footer .footer-menu {
  padding-bottom: 20px;
}
footer .footer-menu ul {
margin-right: 40px;
}
footer .footer-menu ul li {
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
  display: inline-block;
  padding: 0px 20px;
  text-transform: uppercase;
}
footer .footer-menu ul li a {
  display: inline-block;
  color: #191919;
} 
footer .footer-menu ul li a:hover {
  color: #88aa00;
}}

