---
layout: default
title: Contact
subtitle: Drop us a note
date: 2020-02-15 17:00:00 
sitemap:
  lastmod: 2020-02-15
---

<section id="contact">
  <div class="container">
    <div class="row border">
      <div class="col-md-12">

        <div id="contact-slider" class="block slider">
          <img class="img-responsive center-block slider-img" src="img/contact-slider-large.jpg" alt="contact-slider">
          <div class="centered">
            <h1 class="text-uppercase">{{ page.title}}</h1>
            <br>
            {% if page.subtitle %}
            <h4>{{ page.subtitle }}</h4>
            {% endif %}
          </div>
        </div>
        <!--This code below is valid only for very small screens-->
        <div class="slider-below block">
          <h1 class="text-uppercase center-block" style="color:#E4B363;">{{ page.title}}</h1>
          <br>
          {% if page.subtitle %}
          <h4 class="center-block" style="color:#E4B363;">{{ page.subtitle }}</h4>
          {% endif %}
        </div>
      
        <div id="contact-form" class="block">
          {% include contact-form.html %}           
        </div>

      </div>
    </div>
  </div>
</section>
        
       