---
layout: default
title: Press
subtitle: Articles about our project
date: 2020-02-15 17:00:00 
sitemap:
  lastmod: 2020-02-15
---

<section id="press">
  <div class="container">
    <div class="row border">
      <div class="col-md-12">

        <div id="press-slider" class="block slider">
          <img class="img-responsive center-block slider-img" src="img/press-slider-large.jpg" alt="press-slider">
          <div class="centered">
            <h1 class="text-uppercase">{{ page.title}}</h1>
            <br>
            {% if page.subtitle %}
            <h4>{{ page.subtitle }}</h4>
            {% endif %}
          </div>
        </div>
        <!--This code below is valid only for very small screens-->
        <div class="slider-below block">
          <h1 class="text-uppercase center-block" style="color:#E4B363;">{{ page.title}}</h1>
          <br>
          {% if page.subtitle %}
          <h4 class="center-block" style="color:#E4B363;">{{ page.subtitle }}</h4>
          {% endif %}
        </div>

        <div id="press-text" class="block">
        	<p class="center-block">We are very proud that our project has already been featured in 22 news outlets, both regular press as well as online channels, across 6 European countries. </p>
        	<!--Below is a record of all the news outlets - both regular press as well as online newspapers/blogs - in which our project has been featured thus far, listed by country of publication.--> 

        	<p class="center-block">The success of our project depends crucially on the amount of press coverage that we are able to achieve. We would be extremely grateful for any help that you may be able to provide with publicising further our message.</p> 

        	<p class="center-block">If you wish to write an article about our project, feel free to download our <a class="green" target="_blank" href="presskit-bicycleswillsavetheworld.zip" download="presskit-bicycleswillsavetheworld.zip">press-kit</a>, or <a class="green" target="_blank"  href="/contact">contact us</a> directly. We will be more than happy to arrange for an interview and answer any questions you may have.</p>       	
        	
        	<ul class="countries">
  				<li class="country">ITALY</li>
					<ul class="newspapers"> 
						<li class="newspaper"><b>Eco Risveglio</b> - 10/07/2019: <a class="green" target="_blank"  href="pdf/ecorisveglio-10-07-2019.pdf">"Disegneremo una bicicletta sull'Europa"</a></li>
						<li class="newspaper"><b>La Stampa</b> - 11/07/2019: <a class="green" target="_blank"  href="https://www.lastampa.it/novara/2019/07/11/news/un-mondo-migliore-in-bici-la-pedalata-dei-prof-di-orta-per-sensibilizzare-l-europa-1.36946354">"Un mondo migliore in bici: la pedalata dei prof di Orta per sensibilizzare l’Europa"</a></li>
						<li class="newspaper"><b>Cusio 24</b> - 12/07/2019: <a class="green" target="_blank"  href="https://www.cusio24.it/index.php/6187-da-orta-oltre-5-000km-in-bici-attraverso-l-europa-per-sensibilizzare-sui-problemi-ambientali">"Da Orta, oltre 5.000km in bici attraverso l'Europa per sensibilizzare sui problemi ambientali"</a></li>
						<li class="newspaper"><b>Informatore</b> - 13/07/2019: "Arianna e Daniel in bici attraverso l'Europa" (paper only)</li>
						<li class="newspaper"><b>Borgomanero 24</b> - 14/07/2019: <a class="green" target="_blank"  href="https://www.borgomanero24.it/index.php/4798-orta-arianna-e-daniel-partiti-in-bici-per-il-viaggio-di-sensibilizzazione-attraverso-l-europa-foto-e-video?tmpl=component&type=raw">"Orta, Arianna e Daniel partiti in bici per il viaggio di sensibilizzazione attraverso l'Europa"</a></li>	
						<li class="newspaper"><b>Famiglia Nuaresa</b> - 15/07/2019: <a class="green" target="_blank"  href="https://www.famiglianuaresa.com/ambiente/una-bicicletta-diventa-uno-strumento-per-salvare-la-terra">"Una bicicletta diventa uno strumento per salvare la terra"</a></li>
						<li class="newspaper"><b>La Voce di Novara</b> - 16/07/2019: <a class="green" target="_blank"  href="https://www.lavocedinovara.com/ambiente/econotizie/seimila-chilometri-in-bici-destinazione-mobilita-sostenibile/">"Seimila chilometri in bici, destinazione mobilità sostenibile"</a></li>
						<li class="newspaper"><b>Eco Risveglio</b> - 17/07/2019: "Partiti da Orta per il tour di 6000 km" (paper only)</li>
						<li class="newspaper"><b>Eco Risveglio</b> - 31/07/2019: "Arianna, Daniel e la cagnolina Zola con il progetto di salvare il mondo" (paper only)</li>
						<li class="newspaper"><b>Idea</b> - 01/09/2019: "Bicycles Will Save the World: da Orta san Giulio alla volta dell'Europa" (paper only)</li>
						<li class="newspaper"><b>Greenreport.it</b> - 06/09/2019: <a class="green" target="_blank"  href="http://www.greenreport.it/news/mobilita/una-coppia-e-un-cane-disegnano-pedalando-una-gigantesca-bicicletta-sulle-strade-europee/">"Una coppia e un cane disegnano pedalando una gigantesca bicicletta sulle strade europee"</a></li>
						<li class="newspaper"><b>Inbici.net</b> - 06/09/2019: <a class="green" target="_blank"  href="https://www.inbici.net/rivista-ciclismo/6000-km-per-disegnare-una-bici-sulleuropa-la-lunga-pedalata-di-arianna-e-daniel/">"6000 km per disegnare una bici sull'Europa: la lunga pedalata di Arianna e Daniel"</a></li>
						<li class="newspaper"><b>Cusio 24</b> - 22/09/2019: <a class="green" target="_blank"  href="http://www.cusio24.it/index.php/6438-tappa-parigina-per-i-protagonisti-di-bicycles-will-save-the-world-video">"Tappa parigina per i protagonisti di Bicycles Will Save the World</a></li>
						<li class="newspaper"><b>Cusio 24</b> - 02/10/2019: <a class="green" target="_blank"  href="https://www.cusio24.it/index.php/6483-pausa-forzata-per-arianna-e-daniel-di-bicycles-will-save-the-world">"Pausa forzata per Arianna e Daniel di Bicycles Will Save the World"</a></li>
						<li class="newspaper"><b>Il Fatto Quotidiano</b> - 14/10/2019: <a class="green" target="_blank" href="https://www.ilfattoquotidiano.it/2019/10/14/bicycles-will-save-the-world-una-coppia-di-ricercatori-con-la-loro-cagnolina-lascia-il-lavoro-per-disegnare-pedalando-una-bici-sulleuropa/5494039/">"Bicycles Will Save the World, una coppia di ricercatori (con la loro cagnolina) lascia il lavoro per disegnare pedalando una bici sull’Europa"</a></li>
					</ul> 				
  				<li class="country">UK</li>
  					<ul class="newspapers"> 
						<li class="newspaper"><b>Lincolnshire Echo</b> - 25/08/2019: <a class="green" target="_blank"  href="https://www.lincolnshirelive.co.uk/news/local-news/couple-biking-around-europe-shape-3226220">"Couple biking around Europe in the shape of a bicycle to save the world"</a></li>
						<li class="newspaper"><b>Road.cc</b> - 26/08/2019: <a class="green" target="_blank"  href="https://road.cc/content/news/265876-ultimate-eurobike-couple-and-dog-ride-6000km-round-europe-trace-huge-bike-and">"The ultimate Eurobike? Couple (and dog) ride 6,000km round Europe to trace huge bike and fight climate change"</a></li>
						<li class="newspaper"><b>Cyclist.co.uk</b> - 02/09/2019: <a class="green" target="_blank"  href="https://www.cyclist.co.uk/news/6959/lincolnshire-couple-riding-around-europe-in-bid-to-promote-sustainable-cycling">"Lincolnshire couple riding around Europe in bid to promote sustainable cycling"</a></li>
					</ul>
 				<li class="country">FRANCE</li>
 					<ul class="newspapers"> 
						<li class="newspaper"><b>La République du centre</b> - 10/08/2019: <a class="green" target="_blank"  href="https://www.larep.fr/saint-loup-des-vignes-45340/actualites/plus-de-5-000-km-a-velo-a-travers-l-europe-pour-delivrer-un-message-ecolo_13621093/">"Plus de 5.000 km à vélo à travers l'Europe pour délivrer un message écolo"</a></li>
					</ul>
 				<li class="country">SPAIN</li>
 					<ul class="newspapers"> 
						<li class="newspaper"><b>Iberobike.com</b> - 29/08/2019: <a class="green" target="_blank"  href="https://www.iberobike.com/dos-cicloturistas-y-un-perro-recorren-6000-km-para-dibujar-la-bicicleta-mas-grande-del-mundo-y-enviar-este-mensaje/">"Dos cicloturistas y un perro recorren 6000 km para dibujar la bicicleta más grande del mundo y enviar este mensaje"</a></li>
					</ul>
 				<li class="country">THE NETHERLANDS</li>
 					<ul class="newspapers"> 
						<li class="newspaper"><b>De Wereldfietser</b> - 10/2019: <a class="green" target="_blank"  href="pdf/dewereldfietser-10-2019.pdf">"Pan-Europese fiets-route"</a></li>
					</ul>
 				<li class="country">FINLAND</li>
 					<ul class="newspapers"> 
						<li class="newspaper"><b>Lagotto</b> - 10/2019: <a class="green" target="_blank"  href="pdf/lagotto-10-2019.pdf">"Zolan tarina"</a></li>
					</ul>
			</ul>
		</div>

      </div> 
    </div>
  </div>
</section>