<div class="footer-menu">
              
<hr class="hr hr-footer">


              
				<h1>Follow us on</h1> 
				<br>
				{% include contact-social-icons.html %}


</div>



<!--
<div class="footer-menu">         
<hr class="hr hr-footer">
<ul>
<li {% if page.url == "/" %}class="active"{% endif %}><a href="index.html">Home</a></li>
                
<li {% if page.url == "/about-us.html" %}class="active"{% endif %}><a href="about-us.html">About us</a></li>
                
<li {% if page.url == "/contact.html" %}class="active"{% endif %}><a href="contact.html">Contact</a></li>
</ul>
</div>
-->