          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="index.html">
                  <picture>
                    <source media="(min-width: 0px) and (max-width: 900px)" srcset="img/logo-sm.png">
                    <source media="(min-width: 901px) and (max-width: 1200px)" srcset="img/logo-md.png">
                    <source media="(min-width: 1201px) and (max-width: 10000px)" srcset="img/logo.png"> 
                    <img src="img/logo.png" alt="IfItDoesntMatchAnyMedia">
                  </picture>
                </a>
              </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li {% if page.url == "/" %}class="active"{% endif %}><a href="index.html">Home</a></li>
                    <li {% if page.url == "/project.html" %}class="active"{% endif %}><a href="project.html">Project</a></li>
                    <li {% if page.url == "/about-us.html" %}class="active"{% endif %}><a href="about-us.html">About us</a></li>
                    <li {% if page.url == "/blog.html" %}class="active"{% endif %}><a href="blog.html">Blog</a></li>
                    <li {% if page.url == "/contact.html" %}class="active"{% endif %}><a href="contact.html">Contact</a></li>
                  </ul>
                </div>
              </div>
            </nav>
